@model Player
@{
    ViewBag.Title = "Lobby";
    ViewBag.CustomRightHeader = true;
    Layout = "~/Views/Shared/_GameLayout.cshtml";

    var quickJoinUrl = Url.ActionLink("Join", "Session", new { gameId = Model.Game.JoinCode })!;
    var qrUrl = $"https://chart.googleapis.com/chart?cht=qr&chl={Uri.EscapeDataString(quickJoinUrl)}&chs=200x200&chld=L|0";
}

@section CustomRightHeader
{
    @if (Model.IsOwner)
    {
        <button id="StartGame" class="btn-blue hover-pop" hx-trigger="click" hx-post hx-action="Start" hx-controller="Game"
    hx-route-gameId="@Model.Game.Id">Start</button>
        <button class="btn-red hover-pop" hx-trigger="click" hx-post hx-confirm="Are you sure you want to end the game"
    hx-action="End" hx-controller="Game" hx-route-gameId="@Model.Game.Id">End</button>
    }
    else
    {
        <button id="EndGame" class="btn-red hover-pop" hx-trigger="click" hx-post hx-action="Leave"
    hx-confirm="Are you sure you want to Leave the game" hx-controller="Game"
    hx-route-gameId="@Model.Game.Id">Leave</button>
    }
    }

    <div class="left-corner-box">

    </div>



    <div class="container mx-auto bg-surface0 max-w-lg rounded-2xl m-10">
        <div class="flex p-3">
            <div class="flex-grow flex flex-col text-text">
                <h5 class="text-xl">Game Code:</h5>
                <h1 id="game-id" class="text-4xl">@Model.Game.JoinCode.ToUpper()</h1>
            </div>
            <img class="lobby-qr-code w-4/12 m-2 p-1 bg-white rounded-lg" src="@qrUrl" alt="Join QR Code">
        </div>
    </div>


    <div hx-sse="connect:/game/@Model.Game.Id/state">
        <div class="lobby-container" hx-trigger="sse:@EventNames.RefreshLobby" hx-get hx-action="Lobby" hx-controller="Game"
            hx-route-gameId="@Model.Game.Id" hx-swap="innerHTML">
            <partial name="_PlayerList" model="@Model" />
        </div>

        @* State Redirects *@
        <div hx-trigger="sse:@EventNames.EndGame" hx-redirect hx-alert="The game has ended" hx-get="/"></div>
        <div hx-trigger="sse:@EventNames.StartGame" hx-redirect hx-get="/game/@Model.Game.Id/play"></div>
    </div>
