@model Player
@{
    ViewBag.Title = "Lobby";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

@section Styles {
    <link href="~/css/lobby.css" rel="stylesheet" />
}

@section NavbarEnd {
    <li class="nav-item">
        @if (Model.IsOwner)
        {
            <button class="nav-link btn btn-primary ps-4 pe-4 text-white me-2 ms-2 rounded-4" hx-trigger="click" hx-post
                hx-action="Start" hx-controller="Game" hx-route-gameId="@Model.Game.Id">Start</button>
        }
    </li>
}


@section NavbarStart {
    <li class="nav-item">
        @if (Model.IsOwner)
        {
            <button class="nav-link btn btn-danger ps-4 pe-4 text-white me-2 ms-2 rounded-4" hx-trigger="click" hx-post
                hx-confirm="Are you sure you want to end the game" hx-action="End" hx-controller="Game"
                hx-route-gameId="@Model.Game.Id">End</button>
        }
        else
        {
            <button class="nav-link btn btn-danger ps-4 pe-4 text-white me-2 ms-2 rounded-4" hx-trigger="click" hx-post
                hx-action="Leave" hx-confirm="Are you sure you want to Leave the game" hx-controller="Game"
                hx-route-gameId="@Model.Game.Id">Leave</button>
        }
    </li>
}

<div class="d-flex justify-content-center align-items-center">
    <div class="bg-white lobby-code-box d-flex ">
        <div class="flex-grow-1 d-flex flex-column">
            <h5>Game Code:</h5>
            <h1>@Model.Game.JoinCode</h1>
        </div>
        <img class="lobby-qr-code" src="~/qr-placeholder.png" alt="Join QR Code">
    </div>
</div>


<div hx-sse="connect:/game/@Model.Game.Id/state">
    <div class="d-flex flex-wrap gap-2 justify-content-center" hx-trigger="sse:@EventNames.RefreshLobby" hx-get
        hx-action="Lobby" hx-controller="Game" hx-route-gameId="@Model.Game.Id" hx-swap="innerHTML">
        <partial name="_PlayerList" model="@Model" />
    </div>

    @* State Redirects *@
    <div hx-trigger="sse:@EventNames.EndGame" hx-redirect hx-alert="The game has ended" hx-get="/"></div>
</div>

<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>